INHERIT: !ENV MKDOCS_NUMTIDE_THEME

### Site metadata ###

site_name: SrvOS
site_description: NixOS profiles for servers
site_url: https://nix-community.github.io/srvos/
repo_name: 'nix-community/srvos'
repo_url: https://github.com/nix-community/srvos
edit_uri: edit/main/docs

### Navigation ###

nav:
  - Home: index.md

  - Getting started:
     - Intro: getting_started.md
     - NixOS: nixos/getting_started.md
     - Darwin: darwin/getting_started.md
  - User guide:
    - Intro: user_guide.md
    - NixOS modules:
      - Machine type: nixos/type.md
      - Machine hardware: nixos/hardware.md
      - Machine role: nixos/role.md
      - Configuration mixins: nixos/mixins.md
    - Roles:
      - GitHub Action Runner: github_actions_runner.md
    - Installation:
        - Hetzner Cloud: installation/hetzner_cloud.md
    - FAQ: faq.md
  - Getting help: help.md